<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Customer queryList(); -->
<mapper namespace="com.mybatis.mapper.CustomerMapper">
    <resultMap id="customerMap" type="com.mybatis.bean.Customer">
        <id column="customer_id" property="customerId"/>
        <result column="customer_name" property="customerName"/>
        <!--
            property: 集合属性名
            ofType: 集合的泛型类型
         -->
        <collection property="orderList" ofType="com.mybatis.bean.Order">
            <id column="order_id" property="orderId"/>
            <result column="order_name" property="orderName"/>
            <result column="customer_id" property="customerId"/>
        </collection>
    </resultMap>

    <select id="queryList" resultMap="customerMap">
        SELECT * FROM t_order
        JOIN t_customer ON t_order.customer_id = t_customer.customer_id
    </select>
</mapper>