<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Order queryOrderById(Integer orderId); -->
<mapper namespace="com.mybatis.mapper.OrderMapper">
    <!--
        association: 对一的关系
     -->
    <resultMap id="orderMap" type="com.mybatis.bean.Order">
        <id column="order_id" property="orderId"/>
        <result column="order_name" property="orderName"/>
        <result column="customer_id" property="customerId"/>
        <association property="customer" javaType="com.mybatis.bean.Customer">
            <!-- property属性：在Order类中对一的一端进行引用时使用的属性名 -->
            <!-- javaType属性：一的一端类的全类名 -->
            <id column="customer_id" property="customerId"/>
            <result column="customer_name" property="customerName"/>
        </association>
    </resultMap>

    <select id="queryOrderById" resultMap="orderMap">
        SELECT * FROM t_order
        JOIN t_customer ON t_order.customer_id = t_customer.customer_id
        WHERE t_order.order_id = #{orderId};
    </select>
</mapper>