<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!--
        配置servLet类并起一个别名
            servlet-name 用于关联请求的映射路径
            servlet-class 告诉Tomcat对应的要实例化的ServLet类
     -->
    <servlet>
        <servlet-name>servlet</servlet-name>
        <servlet-class>com.boot.servlet.userServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>servlet</servlet-name>
        <!-- 精确匹配 -->
        <url-pattern>/servlet</url-pattern>
        <!-- 模糊匹配 * -->
        <url-pattern>/user/*</url-pattern>
    </servlet-mapping>

    <!-- 配置过滤器 -->
    <filter>
        <filter-name>loggingFilter</filter-name>
        <filter-class>com.boot.filters.loggingFilter</filter-class>
    </filter>
    <!-- 配置过滤器的资源规则，路径 -->
    <filter-mapping>
        <filter-name>loggingFilter</filter-name>
        <!--
            url-pattern
                根据请求的资源路径 对指定的请求进行过滤
            /*      过滤全部资源
            /a/*    过滤以a开头的资源
            /*.html 过滤以htmL 为后缀的资源
            /session    对session请求进行过滤

            servlet-name    根据请求的servLet的别名，最指定的servLet资源进行过滤

            一个filter-mapping中可以同时存在多个urL-pattern 和servlet-name
         -->
        <url-pattern>/*</url-pattern>
        <!-- <url-pattern>/session</url-pattern> -->
        <!-- <servlet-name>session</servlet-name> -->
    </filter-mapping>

    <!-- 过滤器配置 -->
    <listener>
        <listener-class>com.boot.listener.MyApplicationListener</listener-class>
    </listener>

</web-app>